<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ItemProgressWigetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>OverAllProgressWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Reborn.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>220B727D258A288000E4BEDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>220B7293258A288300E4BEDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>220B729E258A288300E4BEDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22278B892609C9DD00C69474</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
